#
## - Stages
stages:
  - version
  - validation
  - release
  - dry-publish
  - publish
  - version:stable
  - release:stable
  - publish:stable
  - cleanup:stable

#
## -- Variables
variables:
  VERSION_FILE: "VERSION"
  TOOLS_IMAGE: "python"

#
## -- Includes
include:
  - remote: '{{ S3_DESTINATION }}/templates/ci-tools.yml'
  - remote: '{{ S3_DESTINATION }}/templates/publish.yml'

#
## -- Anchors

#
## --- Anchors: Changes
.changes: &changes
  changes:
    - ${DOCKER_ROOT_DIR}/**

#
## --- Anchors: Alpha conditions
.alpha_condition: &alpha_condition
  only:
    refs:
      - branches
    <<: *changes
  except:
    - master

#
## --- Anchors: Beta conditions
.beta_condition: &beta_condition
  only:
    refs:
      - master
    <<: *changes
  except:
    - merge_requests

#
## --- Anchors: Stable conditions
.stable_condition: &stable_condition
  only:
    refs:
      - tags
    <<: *changes

#
## --- Anchors: Version Validation
.version: &version
  extends:
    - .version-by-milestone
  artifacts:
    paths:
      - "${VERSION_FILE}"
    expire_in: '5 mins'
    untracked: true

#
## --- Release Description
.description: &desc
  DESCRIPTION: "Pull the docker image by version <br/> `docker pull {{ REGISTRY }}:{{ VERSION }}` <br/>"

#
## -- Jobs

#
## -- Alpha Version
version:alpha:
  <<: *alpha_condition
  <<: *version
  stage: version
  image: "${TOOLS_IMAGE}"
  variables:
    STAGE: "alpha"
    PRERELEASE_SUFFIX: "${CI_COMMIT_SHORT_SHA}"

#
## -- Alpha Publish Dry-Run
dry-publish:alpha:
  <<: *alpha_condition
  stage: dry-publish
  variables:
    DRY_RUN: "true"
    REGISTRY: "$CI_REGISTRY_IMAGE/unstable"
  extends:
    - .docker-publish
  dependencies:
    - version:alpha

#
## -- Alpha Publish
publish:alpha:
  <<: *alpha_condition
  stage: publish
  variables:
    REGISTRY: "$CI_REGISTRY_IMAGE/unstable"
  extends:
    - .docker-publish
  dependencies:
    - version:alpha

#
## -- Merge Request Validation

merge-request:version:
  stage: version
  image: "${TOOLS_IMAGE}"
  <<: *version
  variables:
    STAGE: "alpha"
    PRERELEASE_SUFFIX: "${CI_COMMIT_SHORT_SHA}"
  only:
    - merge_requests

merge-request:validation:
  stage: validation
  image: "${TOOLS_IMAGE}"
  only:
    - merge_requests
  extends:
    - .merge-request-validation
  dependencies:
    - merge-request:version

#
## -- Beta Version
version:beta:
  <<: *beta_condition
  stage: version
  image: "${TOOLS_IMAGE}"
  <<: *version
  variables:
    STAGE: "beta"
    PRERELEASE_SUFFIX: "${CI_COMMIT_SHORT_SHA}"
  extends:
    - .version-by-milestone

#
## -- Beta Release
release:beta:
  <<: *beta_condition
  stage: release
  image: "${TOOLS_IMAGE}"
  variables:
    <<: *desc
    REGISTRY: "$CI_REGISTRY_IMAGE/stable"
  extends:
    - .create-release
  dependencies:
    - version:beta

#
## -- Beta Publish
publish:beta:
  <<: *beta_condition
  stage: publish
  variables:
    REGISTRY: "$CI_REGISTRY_IMAGE/stable"
  extends:
    - .docker-publish
  dependencies:
    - version:beta

#
## -- Go Stable

#
## -- Stable Version
version:stable:
  <<: *beta_condition
  stage: version:stable
  image: "${TOOLS_IMAGE}"
  when: manual
  <<: *version
  extends:
    - .version-by-milestone

#
## -- Stable Release
release:stable:
  <<: *beta_condition
  stage: release:stable
  image: "${TOOLS_IMAGE}"
  variables:
    <<: *desc
    REGISTRY: "$CI_REGISTRY_IMAGE/stable"
    CLOSE_MILESTONE: "true"
    TAG_SUFFIX: "-stable"
  extends:
    - .create-release
  needs:
    - version:stable


#
## -- Stable Publish
publish:stable:
  <<: *beta_condition
  stage: publish:stable
  variables:
    REGISTRY: "$CI_REGISTRY_IMAGE/stable"
  extends:
    - .docker-publish
  dependencies:
    - version:stable

#
## -- Changelog/Doc
